@import url('https://fonts.googleapis.com/css?family=PT+Serif');
body {
    font-family: 'PT Serif', serif;
	max-width: 36em;
	margin: .5em auto 2em auto;
    line-height: 1.3;
    padding: 0 0.75em;
    font-size: 1.1em;
}
img#profile {
    max-width: 100%;
    text-align: center;
}
ul {
    line-height: 1.5;
}
#lastupdate {
    font-size: 0.8em;
    font-style: italic;
}

#lang {
    text-align: right;
    padding: 0;
}

h1 {
    text-align: center;
}